* {
    margin:0;
    padding:0;
}
.board {
    margin:50px 0 0 50px;
    width:320px;
    height:320px;
}
.grid {
    width:38px;
    height:38px;
    display:inline-block;
}
.grid--white {
    background-color:#eee;
    border:1px solid #ddd;
}
.grid--black {
    border:1px solid #000;
    background-color:#000;
}
.grid--queen {
    background: url("../img/queen.png") center center no-repeat #eee;
}